@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-size: 2em;
		line-height: 1.2;
		@apply font-black text-nasa-red;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.2;
		@apply font-bold text-nasa-blue;
	}
}

@layer utilities {
	.text-body { @apply text-base lg:text-xl 2xl:text-2xl; }
}
